---
import type { BlogData, Blog } from "../../content/config";
import FormattedDate from "../../components/FormattedDate.astro";
import CardBody from "./CardBody.astro";

const sizes = {
  //lg: "w-full max-w-[900px] mx-auto",
  sm: "max-w-[600px] aspect-video mx-auto even:ml-0 odd:mr-0",
  //xs: "max-w-[450px] aspect-video mx-auto",
} as const;

interface Props
  extends Pick<
      BlogData,
      "heroImage" | "description" | "pubDate" | "title" | "tags"
    >,
    Pick<Blog, "slug"> {}

const { slug, heroImage, pubDate, description, title } = Astro.props;
const t = pubDate?.toString();
---

<li
  class={`border border-white group hover:scale-[1.02] p-2  text-text ${sizes["sm"]}`}
>
  <a href={`/blog/${slug}/`}>
    <img
      transition:name={"image" + t}
      width="900"
      height="470"
      class={` w-full bg-primary/10 group-hover:-translate-y-2 `}
      src={heroImage}
      alt={title}
    />
    <CardBody>
      <h2 transition:name={"title" + t} class="text-lg md:text-2xl">{title}</h2>
      <p transition:name={"desc" + t} class="md:text-lg text-text/10">
        {description}
      </p>
      {
        t && (
          <p class="text-secondary">
            <FormattedDate tName={"date" + t} date={pubDate} />
          </p>
        )
      }
    </CardBody>
  </a>
</li>
